In [71]:
# !pip install pandas
# !pip install gurobipy
# !pip install environs
# !pip install openpyxl

In [72]:
import gurobipy as gp
from gurobipy import GRB, quicksum
import pandas as pd
import copy

import numpy as np

In [73]:
df = pd.read_excel('../Naive_S_P500.xlsx', sheet_name='return')
df.head()

,Unnamed: 0,Date,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,...,Unnamed: 480,Unnamed: 481,Unnamed: 482,Unnamed: 483,Unnamed: 484,Unnamed: 485,Unnamed: 486,Unnamed: 487,Unnamed: 488,Unnamed: 489
0,1,2006-01-03,0.009078,0.003038,0.023104,0.011834,-0.001705,0.057158,0.041341,0.022843,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2006-01-04,-0.006960,0.001515,0.041710,0.028468,-0.001341,0.004926,-0.002599,0.003878,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2006-01-05,0.008430,0.012797,-0.009518,-0.007303,0.006689,0.033820,-0.009152,0.012739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2006-01-06,0.004606,0.019009,0.016010,0.020726,0.029265,0.002965,0.024135,0.011399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006-01-09,-0.016641,0.036495,-0.017206,0.040206,-0.014466,-0.015814,-0.016023,0.012903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df.drop(columns=['Unnamed: 0']).head()

,Date,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,...,Unnamed: 480,Unnamed: 481,Unnamed: 482,Unnamed: 483,Unnamed: 484,Unnamed: 485,Unnamed: 486,Unnamed: 487,Unnamed: 488,Unnamed: 489
0,2006-01-03,0.009078,0.003038,0.023104,0.011834,-0.001705,0.057158,0.041341,0.022843,0.007071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006-01-04,-0.006960,0.001515,0.041710,0.028468,-0.001341,0.004926,-0.002599,0.003878,-0.011472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006-01-05,0.008430,0.012797,-0.009518,-0.007303,0.006689,0.033820,-0.009152,0.012739,-0.008692,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006-01-06,0.004606,0.019009,0.016010,0.020726,0.029265,0.002965,0.024135,0.011399,0.023012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006-01-09,-0.016641,0.036495,-0.017206,0.040206,-0.014466,-0.015814,-0.016023,0.012903,-0.012794,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
ret = copy.deepcopy(df.drop(columns=['Unnamed: 0']))

In [76]:
ret.head()

,Date,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,...,Unnamed: 480,Unnamed: 481,Unnamed: 482,Unnamed: 483,Unnamed: 484,Unnamed: 485,Unnamed: 486,Unnamed: 487,Unnamed: 488,Unnamed: 489
0,2006-01-03,0.009078,0.003038,0.023104,0.011834,-0.001705,0.057158,0.041341,0.022843,0.007071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006-01-04,-0.006960,0.001515,0.041710,0.028468,-0.001341,0.004926,-0.002599,0.003878,-0.011472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006-01-05,0.008430,0.012797,-0.009518,-0.007303,0.006689,0.033820,-0.009152,0.012739,-0.008692,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006-01-06,0.004606,0.019009,0.016010,0.020726,0.029265,0.002965,0.024135,0.011399,0.023012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006-01-09,-0.016641,0.036495,-0.017206,0.040206,-0.014466,-0.015814,-0.016023,0.012903,-0.012794,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
# iloc[rows, columns]
ret = ret.iloc[:5, 1:397]
n = [i for i in range(396)]
ret

,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,ALASKA AIR GROUP,...,DENTSPLY SIRONA,S&P GLOBAL,WELLTOWER,XEROX,HP,DXC TECHNOLOGY,WEC ENERGY GROUP,L3 TECHNOLOGIES,MONSTER BEVERAGE,SBA COMMS.
0,0.009078,0.003038,0.023104,0.011834,-0.001705,0.057158,0.041341,0.022843,0.007071,-0.013245,...,0.006313,0.003673,0.018993,0.017592,0.004881,0.010801,0.021277,0.013493,0.050852,0.028636
1,-0.006960,0.001515,0.041710,0.028468,-0.001341,0.004926,-0.002599,0.003878,-0.011472,0.019664,...,0.009212,-0.003673,0.010652,-0.001342,0.028774,-0.007253,0.003253,0.006480,-0.006679,0.016155
2,0.008430,0.012797,-0.009518,-0.007303,0.006689,0.033820,-0.009152,0.012739,-0.008692,-0.010908,...,-0.011435,-0.000969,0.020409,-0.010803,-0.007114,0.075583,-0.004005,-0.006879,-0.011340,0.000000
3,0.004606,0.019009,0.016010,0.020726,0.029265,0.002965,0.024135,0.011399,0.023012,-0.008472,...,0.015461,0.016726,0.004200,-0.006131,0.028166,0.006547,0.007496,0.011746,0.050511,0.000534
4,-0.016641,0.036495,-0.017206,0.040206,-0.014466,-0.015814,-0.016023,0.012903,-0.012794,0.016036,...,0.009815,-0.017308,0.014149,0.013571,0.012493,-0.008557,0.004471,0.009401,0.050881,0.006386

In [78]:
cov = ret.cov()
cov.head()

,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,ALASKA AIR GROUP,...,DENTSPLY SIRONA,S&P GLOBAL,WELLTOWER,XEROX,HP,DXC TECHNOLOGY,WEC ENERGY GROUP,L3 TECHNOLOGIES,MONSTER BEVERAGE,SBA COMMS.
AMAZON.COM,0.000125,-0.000093,0.000054,-0.000174,0.000108,0.000268,0.000176,3.612741e-05,0.000097,-0.000164,...,-0.000047,0.000104,0.000019,-0.000043,-0.000069,0.000245,0.000027,-1.819000e-05,-0.000040,0.000015
ABBOTT LABORATORIES,-0.000093,0.000202,-0.000275,0.000120,-0.000040,-0.000279,-0.000168,-7.960295e-07,-0.000024,0.000057,...,0.000028,-0.000074,-0.000016,0.000026,-0.000005,-0.000081,-0.000037,7.555425e-06,0.000215,-0.000100
AES,0.000054,-0.000275,0.000583,0.000039,0.000090,0.000156,0.000297,-4.029274e-05,0.000097,0.000043,...,0.000100,0.000131,-0.000057,-0.000004,0.000222,-0.000339,0.000089,7.582836e-05,-0.000129,0.000169
ABIOMED,-0.000174,0.000120,0.000039,0.000321,-0.000107,-0.000391,-0.000093,-3.877709e-05,-0.000041,0.000224,...,0.000146,-0.000094,-0.000063,0.000106,0.000188,-0.000572,0.000025,9.314179e-05,0.000266,0.000024
INTERNATIONAL BUS.MCHS.,0.000108,-0.000040,0.000090,-0.000107,0.000262,0.000033,0.000168,-1.179510e-05,0.000204,-0.000142,...,0.000026,0.000184,-0.000061,-0.000131,0.000075,0.000132,-0.000008,9.324420e-07,0.000023,-0.000084

In [79]:
var = ret.var()
var.head()

AMAZON.COM                 0.000125
ABBOTT LABORATORIES        0.000202
AES                        0.000583
ABIOMED                    0.000321
INTERNATIONAL BUS.MCHS.    0.000262
dtype: float64

In [84]:
var.shape

(396,)

In [80]:
mean = ret.mean()
mean.head()

AMAZON.COM                -0.000297
ABBOTT LABORATORIES        0.014571
AES                        0.010820
ABIOMED                    0.018786
INTERNATIONAL BUS.MCHS.    0.003688
dtype: float64

In [81]:
mean[1]

0.014570951690332637

In [82]:
mean.iloc[1]

0.014570951690332637

In [83]:
m = gp.Model('MV_model')
m.params.NonConvex = 2

Set parameter Username

GurobiError: HostID mismatch (licensed to c951f1c0, hostid is 94567bbc)

In [ ]:
# decision varibale
w = [m.addVar(lb=0.0, ub=1.0) for i in n]

In [ ]:
# update
m.update()

In [ ]:
# objective
eq1 = quicksum(w[i]**2 * var.iloc[i] for i in n) + quicksum([cov.iloc[i, j] * w[i] * w[j] for i in n for j in n if i != j])
m.setObjective(eq1, GRB.MINIMIZE)

In [ ]:
# set objective
m.setObjective(eq1, GRB.MINIMIZE)

In [ ]:
# constraints
eq2 = quicksum(mean.iloc[i] * w[i] for i in n)
eq3 = quicksum(w[i] for i in n)
m.addConstr(eq2 >= 0.001)
m.addConstr(eq3 == 1)

In [ ]:
m.optimize()
for v in m.getVars():
    print('%s %g' % (v.varName, v.x))
print('Obj: %g' % m.objVal)